.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .2s ease-in-out;
  &--after-open{
  opacity: 1;
  }

  &--before-close{
    opacity: 0;
  }
}

.modal{
  background: $light-blue;
  color: #fff;
  display: flex;
  flex-direction: column;
  // flex: 1;
  // width: 300rem;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;

  &__title{
    margin: 0 0 $m-size 0;
  }

  &__body{
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size;
    word-break: break-all;
  }
}